[Desktop Entry]
Version=1.0
Name=Waterfox
GenericName=Web Browser
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer;
Exec=/usr/bin/waterfox %u
Terminal=false
Type=Application
Icon=waterfox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;application/x-xpinstall;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chrome;
StartupNotify=true
StartupWMClass=waterfox
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=/usr/bin/waterfox --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/usr/bin/waterfox --private-window %u
